parameters:
	dynamicConstantNames:
		- LANGUAGE_DIR
		- LANGUAGE_FILE_NAME
		- DEFAULT_LANGUAGE
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: max
	paths:
		- src
	tmpDir: temp
	universalObjectCratesClasses:
		- Dibi\Row
	typeAliases:
		RouteNode: '\Lsr\Interfaces\RouteInterface|\Lsr\Core\Routing\RouteParameter|array<string, \Lsr\Interfaces\RouteInterface|\Lsr\Core\Routing\RouteParameter>'