parameters:
	routing:
		routeFiles: []
		controllers: []
services:
	routing:
		create: Lsr\Core\Routing\Router(@cache, %routing.routeFiles%, %routing.controllers%)
		setup:
			- setup()
		tags:
			- routing